body{
    font-family: Poppins, sans-serif;
    @apply text-black;
}
.icon{
    @apply h-7;
}
.logo{
    @apply text-[1rem] font-semibold relative;
}
html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
.input{
    @apply border rounded-full p-2 bg-transparent;
}
.input::placeholder,
.textarea::placeholder{
    @apply text-black text-[.8rem];
}
.textarea{
    @apply h-24 border rounded-3xl p-2 bg-transparent resize-none;
}
@media only screen and (min-width: 42rem) {
    .logo{
        @apply text-[2rem];
    }
    .input{
        @apply p-4;
    }
    .textarea{
        @apply p-4 h-36;
    }
    .input::placeholder,
    .textarea::placeholder{
        @apply text-black text-[1rem];
    }
}
@media only screen and (min-width: 72rem) {
    .icon{
        @apply h-9;
    }
}